WILMA_CREDENTIALS = dict(username="your@email.test", password="wilmapassword", url="https://wilma.hometown.fi")
MUXU_CREDENTIALS = dict(username="yourlogin", password="muksunkirjapassword")
SMTP = 'smtp.welho.com'  # Your ISP's outgoing e-mail server
RECIPIENT = 'your.email@addre.ss'
DATAPATH = '/some/writable/directory'
